<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <% include includes/scriptsAndSheets.ejs%>

        <!-- Custom styles for this template -->
        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <link href="stylesheets/simple-sidebar.css" rel="stylesheet"/>
        <link rel='stylesheet' href='stylesheets/chessboard.css' />
        <link rel='stylesheet' href='stylesheets/basics.css' />
        <script src="javascripts/data/basics.js"></script>
        <script src="javascripts/libraries/chessboard.js"></script>
        <script src="javascripts/libraries/chess.js"></script>
        <script src="javascripts/libraries/stockfish.js"></script>
        <script src="javascripts/libraries/PositionManipulator.js"></script>
        <script src="javascripts/libraries/Notation.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <% include includes/menu.ejs %>
                <div class="container content">

                    <!-- Portfolio Item Heading -->


                    <!-- Portfolio Item Row -->
                    <div class="row">
                        <div class="col-3  border d-flex m-0 p-0" >
                            <ul id="left-menu"  class="list-group w-100 p-0 m-0">
                                <li class="list-group-item" v-for="(chapter,index) in chapters" v-on:click="changeChapter(index)" v-bind:class="{active:selectedItem === index}">
                                    {{index+1}}. {{chapter.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 border justify-content-center d-flex  flex-column">
                            <div class="p-2 w-100" >
                                <div id="board" style="width:100%;"></div>
                            </div>
                            <div class="p-2 align-self-center d-flex" id="counters">
                                <div class="p-2 d-flex">
                                    <div class="p-2">
                                        <img class="goodBadMark" src="img/basics/good.png"/>
                                    </div>
                                    <div class="p-2">
                                        <div class="goodBadCounter" v-bind:class="{ lastResult: lastResult==='good' }">{{goodCount}}</div>
                                    </div>
                                </div>
                                <div class="p-2 d-flex">
                                    <div class="p-2">
                                        <img class="goodBadMark"  src="img/basics/bad.png"/>

                                    </div>
                                    <div class="p-2">
                                        <div class="goodBadCounter" v-bind:class="{ lastResult: lastResult==='bad' }"> {{badCount}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 border" id="guide">
                            <div class=" h-100 d-flex flex-column justify-content-between">
                                <div>
                                    <h3 class="my-3">{{title}}</h3>
                                    <ul>
                                        <li v-for="line in description">{{line}}</li>
                                    </ul>
                                    <img class="img-example" v-if="img!==''" v-bind:src="getImgPath()"/>
                                </div>
                                <div class="border-top h-25 d-flex flex-column justify-content-center">
                                    <div class="mx-auto">
                                        <h3>Exercise</h3>
                                    </div>
                                    <div class="mx-auto">
                                        {{exerciseDescription}}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.row -->


                </div>



        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="javascripts/libraries/chessBoardEvents.js"></script>
        <script src="javascripts/libraries/modes.js"></script>
        <script src="javascripts/sites/basics.js"></script>
        <script>
            $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });

            $(function(){
                $('#basics').addClass('active');
            });

        </script>
    </body>

</html>
