<!DOCTYPE html>
<html>
    <head>
        <% include includes/scriptsAndSheets.ejs %>
        <link rel='stylesheet' href='stylesheets/chessboard.css' />

        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <script src="javascripts/libraries/modes.js"></script>
        <script src="javascripts/libraries/jquery.js"></script>
        <script src="javascripts/libraries/chessboard.js"></script>
        <script src="javascripts/libraries/chess.js"></script>
        <script src="javascripts/libraries/stockfish.js"></script>
        <script src="javascripts/libraries/PositionManipulator.js"></script>
        <script src="javascripts/libraries/boardEventHandler.js"></script>
        <script src="javascripts/libraries/Notation.js"></script>
        <script src="javascripts/libraries/engine.js"></script>
        <script src="javascripts/libraries/multithread.js"></script>

    </head>
    <body>
        <% include includes/menu.ejs %>
        <div class="container">

            <!-- Portfolio Item Heading -->
            <h1 class="my-4 col">Create Puzzle
                <small  id="info"></small>
            </h1>

            <!-- Portfolio Item Row -->
            <div class="row">

                <div class="col-md-8">
                    <div id="board" style="width:600px;"></div>
                </div>

                <div id="settings" class="col-md-4">

                    <h3 class="my-3">Project Description</h3>
                    <div class="row">
                        <div class="col-6 btn btn-primary active" v-on:click="changeToSetMode()">Position</div>
                        <div class="col-6 btn btn-primary"  v-on:click="backToSpareMode()">Spare mode </div>
                    </div>
                    <div class="row">
                        <label class="radio-inline col-3"><input type="radio" name="colorRadio" checked="true" v-on:click="setColor('w')" /> white</label>
                        <label class="radio-inline col-3"><input type="radio" name="colorRadio" v-on:click="setColor('b')"/> black </label>
                    </div>
                    <div class="row ">
                        <div class="checkbox col-4">
                            <label><input type="checkbox" checked="true" value=""/>white 0-0</label>
                        </div>
                        <div class="checkbox col-4">
                            <label><input type="checkbox" checked="true" value=""/>white 0-0-0</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="checkbox  col-4">
                            <label><input type="checkbox" checked="true"  value="" />black 0-0</label>
                        </div>
                        <div class="checkbox col-4">
                            <label><input type="checkbox"  checked="true"  value=""/>black 0-0-0</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="notation" v-html="getListMoves()">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn btn-danger col-12" v-on:click="engineAnalise()">Engine analise</div>
                    </div>
                    <div class="row">
                        <div  class="col">{{firstEngineLine}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{secondEngineLine}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{thirdEngineLine}}</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-success col-12" v-on:click="downloadPgn()">Download</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-primary col-12" v-on:click="savePgn()">Save pgn</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="javascripts/libraries/chessBoardEvents.js"></script>
        <script src="javascripts/sites/createPuzzle.js"></script>
    </body>
</html>
