<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <% include includes/scriptsAndSheets.ejs%>
    <title>Portfolio Item - Start Bootstrap Template</title>
    <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Navigation -->
    <% include includes/menu.ejs %>
    <div class="container-fluid">
      <div class="row"></div>
    </div>


  <script>
      $(function(){
          $('#home').addClass('active');
      });
  </script>
  </body>
</html>