<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <% include includes/scriptsAndSheets.ejs%>
        <title>Portfolio Item - Start Bootstrap Template</title>
        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <link href="stylesheets/settings.css" rel="stylesheet"/>

    </head>

    <body>
        <!-- Navigation -->
        <% include includes/menu.ejs %>
        <div class="container content" id="app">
            <form>
                <div class="form-group d-flex justify-content-center">
                    <label for="exampleFormControlSelect1" class="p-2">Minimal exercise level:</label>
                    <label class="radio-inline p-2"><input type="radio" name="minLevel"  v-model="minLevel" value="1" />1</label>
                    <label class="radio-inline p-2"><input type="radio" name="minLevel" v-model="minLevel" value="2" /> 2 </label>
                    <label class="radio-inline p-2"><input type="radio" name="minLevel"  v-model="minLevel" value="3" />3</label>
                    <label class="radio-inline p-2"><input type="radio" name="minLevel" v-model="minLevel" value="4" /> 4 </label>
                    <label class="radio-inline p-2"><input type="radio" name="minLevel"  v-model="minLevel" value="5" />5</label>

                </div>
                <div class="form-group d-flex justify-content-center">
                    <label for="exampleFormControlSelect1" class="p-2">Maximal exercise level:</label>
                    <label class="radio-inline p-2"><input type="radio" name="maxLevel"  v-model="maxLevel" value="1" />1</label>
                    <label class="radio-inline p-2"><input type="radio" name="maxLevel" v-model="maxLevel" value="2" /> 2 </label>
                    <label class="radio-inline p-2"><input type="radio" name="maxLevel"  v-model="maxLevel" value="3" />3</label>
                    <label class="radio-inline p-2"><input type="radio" name="maxLevel" v-model="maxLevel" value="4" /> 4 </label>
                    <label class="radio-inline p-2"><input type="radio" name="maxLevel"  v-model="maxLevel" value="5" />5</label>
                </div>
            </form>
            <div class="form-group d-flex justify-content-center">
                <div  v-bind:class="{infoError:!isGoodText,success:isGoodText}">{{infoText}}</div>
            </div>

            <div class="form-group d-flex justify-content-center">
                <div class="btn btn-primary col-3 m-2" v-on:click="saveLevels()">Save</div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <div class="btn btn-secondary col-3 m-2" v-on:click="deletePuzzlesHistory()">Delete puzzles history</div>
                <div class="btn btn-danger col-3 m-2"  v-on:click="deleteExercisesHistory()">Delete exercises history</div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="javascripts/sites/settings.js"></script>
        <script>
            $(function(){
                $('#signInButtonMenu').addClass('active');
                $('#accountInfoMenu').addClass('active');
            });
        </script>
    </body>
</html>