<!DOCTYPE html>
<html>
    <head>
        <% include includes/scriptsAndSheets.ejs %>
        <link rel='stylesheet' href='stylesheets/chessboard.css' />
        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <link href="stylesheets/notation.css" rel="stylesheet"/>
        <link href="stylesheets/solveExercisesAndPuzzles.css" rel="stylesheet"/>
        <script src="javascripts/libraries/modes.js"></script>
        <script src="javascripts/libraries/jquery.js"></script>
        <script src="javascripts/libraries/chessboard.js"></script>
        <script src="javascripts/libraries/chess.js"></script>
        <script src="javascripts/libraries/stockfish.js"></script>
        <script src="javascripts/libraries/PositionManipulator.js"></script>
        <script src="javascripts/libraries/Notation.js"></script>
        <script src="javascripts/libraries/engine.js"></script>
        <script src="javascripts/libraries/multithread.js"></script>
    </head>
    <body>
        <% include includes/menu.ejs %>
        <div class="container content" >
            <!-- Portfolio Item Row -->
            <div class="row" >
                <div class="col-3 border d-flex  flex-column justify-content-between p-0" id="userAndPuzzleData">
                    <div class="d-flex border-bottom flex-column justify-content-between w-100 p-2">
                        <div>Exercise <span>{{getExerciseId()}}</span></div>
                        <div>Exercise level: <span>{{getExerciseLevel()}}</span></div>
                        <div v-if="userLogin" class="border-top w-100"></div>
                        <div v-if="userLogin">Last time solved: <span>{{getUserLastAttemptDate()}}</span></div>
                        <div v-if="userLogin">Attempts: <span>{{getUserAttempts()}}</span></div>
                        <label  v-if="userLogin"> <input type="checkbox"  v-model="onlyRepetition"  value=""/> Only repetition</label>
                        <div  v-if="userLogin" v-on:click="removeExercise()" v-bind:class="{disabled:exerciseData===undefined}" class="btn btn-danger ">Remove exercise</div>
                    </div>
                    <div class="border-top h-25  d-flex  flex-column justify-content-between p-0">
                        <div class="p-2 align-self-center"  v-bind:class="{errorInfo:!successText}" id="info">
                            {{info}}
                        </div>
                        <div class="p-2" id="description" v-bind:class="{errorInfo:!userLogin}">
                            {{loginInfo}}
                        </div>
                    </div>
                </div>
                <div class="col-6 border justify-content-center d-flex  flex-column">
                    <div class="p-2 w-100" >
                        <div id="board" style="width:100%;"></div>
                    </div>
                </div>
                <div id="settings" class="col-3 border justify-content-between d-flex  flex-column">
                    <div class="row  h-25">
                        <div class="col h-100">
                            <div class="h-100 notation p-2" id="notation" v-html="getListMoves()">
                            </div>
                        </div>
                    </div>
                    <div class="h-25 d-flex justify-content-center" >
                        <div class="w-50 h-50 " v-if="loading">
                            <div class="loader "></div>
                        </div>

                    </div>
                    <div class="row h-25" v-if="playerColor!==''">
                        <div class="col-3 p-1 h-50 w-25 m-auto">
                            <img v-bind:src="getInfoImagePath()" class="w-100"> </img>
                        </div>
                        <div class="offset-1 col-8  pt-3   m-auto align-middle">
                            {{getInfoText()}}
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="btn big-button btn-danger col-12"  v-if="!reviewMode && !loading"  v-on:click="giveUp()">Give up</div>
                        <div class="btn big-button btn-success col-12" v-if="reviewMode || loading"  v-bind:class="{disabled:!readyForNextPuzzles|loading}" v-on:click="nextPuzzle()">Next exercise</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="javascripts/libraries/chessBoardEvents.js"></script>
        <script src="javascripts/sites/solveExercise.js"></script>
        <script >
            $(function(){
                $('#exercises').addClass('active');
            });
        </script>
    </body>
</html>
