<!DOCTYPE html>
<html>
    <head>
        <% include includes/scriptsAndSheets.ejs %>
        <link rel='stylesheet' href='stylesheets/chessboard.css' />
        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <link href="stylesheets/notation.css" rel="stylesheet"/>
        <link href="stylesheets/solveExercisesAndPuzzles.css" rel="stylesheet"/>
        <script src="javascripts/libraries/modes.js"></script>
        <script src="javascripts/libraries/jquery.js"></script>
        <script src="javascripts/libraries/chessboard.js"></script>
        <script src="javascripts/libraries/chess.js"></script>
        <script src="javascripts/libraries/stockfish.js"></script>
        <script src="javascripts/libraries/PositionManipulator.js"></script>
        <script src="javascripts/libraries/Notation.js"></script>
        <script src="javascripts/libraries/engine.js"></script>
        <script src="javascripts/libraries/multithread.js"></script>
    </head>
    <body>
        <% include includes/menu.ejs %>
        <div class="container content">
            <!-- Portfolio Item Row -->
            <div class="row" >
                <div class="col-3 border d-flex  flex-column justify-content-between p-0" id="userAndPuzzleData">
                    <div class="d-flex border-bottom flex-column justify-content-between w-100 p-2">
                        <div>Puzzle <span>{{getPuzzleId()}}</span></div>
                        <div>Puzzle rating: <span>{{getPuzzleRating()}}</span></div>
                        <div>Users attempts: <span>{{getPuzzleAttempts()}}</span></div>
                        <div class="border-top"></div>
                        <div>Solved: <span>{{solved}}</span></div>
                        <div>Unsolved: <span>{{unsolved}}</span></div>
                        <div v-if="userLogin">Your ranking: <span> {{rating}}</span></div>
                    </div>
                    <div class="border-top h-25  d-flex  flex-column justify-content-between p-0">
                        <div class="p-2 align-self-center"  v-bind:class="{errorInfo:!successText}" id="info">
                            {{info}}
                        </div>
                        <div class="p-2" id="description" v-bind:class="{errorInfo:!userLogin}">
                            {{loginInfo}}
                        </div>
                    </div>
                </div>
                <div class="col-6 border justify-content-center d-flex  flex-column">
                    <div class="p-2 w-100" >
                        <div id="board" style="width:100%;"></div>
                    </div>
                </div>

                <div id="settings" class="col-3 border justify-content-between d-flex  flex-column">
                    <div class="row notation h-25">
                        <div class="col" v-if="reviewMode">
                            <div id="notation" v-html="getListMoves()">

                            </div>
                        </div>
                    </div>
                    <div class="h-25 d-flex justify-content-center" >
                        <div class="w-50 h-50 " v-if="loading">
                            <div class="loader"></div>
                        </div>

                    </div>
                    <div class="row h-25" v-if="playerColor!==''">
                            <div class="col-3 p-1 h-50 w-25 m-auto">
                                <img v-bind:src="getInfoImagePath()" class="w-100"/>
                            </div>
                            <div class="offset-1 col-8  pt-3   m-auto align-middle">
                                {{getInfoText()}}
                            </div>
                    </div>
                    <div class="row h-25">
                        <div class="btn big-button btn-secondary col-12"  v-if="!reviewMode"  v-on:click="giveUp()">Show solution</div>
                        <div class="btn big-button btn-success col-12" v-if="reviewMode" v-bind:class="{disabled:!readyForNextPuzzles}" v-on:click="nextPuzzle()">Next puzzle</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="javascripts/libraries/chessBoardEvents.js"></script>
        <script src="javascripts/sites/solvePuzzle.js"></script>
        <script>
            $(function(){
                $('#puzzles').addClass('active');
            });
        </script>
    </body>
</html>
