<!DOCTYPE html>
<html>
    <head>
        <% include includes/scriptsAndSheets.ejs %>
        <link rel='stylesheet' href='stylesheets/chessboard.css' />
        <link href="stylesheets/portfolio-item.css" rel="stylesheet"/>
        <link href="stylesheets/notation.css" rel="stylesheet"/>
        <script src="javascripts/libraries/modes.js"></script>
        <script src="javascripts/libraries/jquery.js"></script>
        <script src="javascripts/libraries/chessboard.js"></script>
        <script src="javascripts/libraries/chess.js"></script>
        <script src="javascripts/libraries/stockfish.js"></script>
        <script src="javascripts/libraries/PositionManipulator.js"></script>
        <script src="javascripts/libraries/boardEventHandler.js"></script>
        <script src="javascripts/libraries/Notation.js"></script>
        <script src="javascripts/libraries/engine.js"></script>
        <script src="javascripts/libraries/multithread.js"></script>
    </head>
    <body>
        <% include includes/menu.ejs %>
        <div class="container content" id="app">
            <!-- Portfolio Item Row -->
            <div class="row">
                <div class="col-3 border d-flex  flex-column justify-content-between p-0">
                    <div class="d-flex border-bottom flex-column justify-content-between w-100 p-2">
                        <div>Exercise <span> ?</span></div>
                        <div>Exercise level: <span>?</span></div>
                    </div>
                    <div class="d-flex border-top flex-column justify-content-between w-100 p-2">
                        <div>Your ranking: <span> ?</span></div>
                        <div>Last repetition : <span>?</span></div>
                    </div>

                </div>
                <div class="col-6 border justify-content-center d-flex  flex-column">
                    <div class="p-2 w-100" >
                        <div id="board" style="width:100%;"></div>
                    </div>
                </div>
                <div id="settings" class="col-3 border justify-content-between d-flex  flex-column">
                    <div class="row notation h-50">
                        <div class="col">
                            <div id="notation" v-html="getListMoves()">
                            </div>
                        </div>
                    </div>
                    <div class="row h-25" v-if="playerColor!==''">
                        <div class="col-3 p-1 h-50 w-25 m-auto">
                            <img v-bind:src="getInfoImagePath()" class="w-100"> </img>
                        </div>
                        <div class="offset-1 col-8  pt-3   m-auto align-middle">
                            {{getInfoText()}}
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="btn big-button btn-danger col-12"  v-if="!reviewMode" v-on:click="giveUp()">Give up</div>
                        <div class="btn big-button btn-success col-12" v-if="reviewMode"  v-on:click="nextPuzzle()">Next exercise</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="javascripts/libraries/chessBoardEvents.js"></script>
        <script src="javascripts/sites/solveExercise.js"></script>
    </body>
</html>
